

body {
    /* The image used */
    background-color: rgb(30, 123, 223)

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: rgb(5, 50, 103);
    text-align: center;
    font-style: italic



}
.side-bar-img {
    float: left;
    max-width: 45%;
    max-height: 5%;
    margin: 5px;
}
#nav-title {
    background-color: #212188;
    color: rgb(217, 228, 237);
    margin-left: 50px;
}
.main-viz {
    padding-bottom: 20px;
    margin: auto;
    
}
.main-content {
    padding: 30px;
    padding-top: 0px;
}
.navbar-toggle {
    background-color: #212188; 
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(94, 176, 238);
}

@media only screen and (max-width: 992px) {
    .side-bar-img {
        width: 23%;
    }
    
    #bottom-comp {
        border-bottom-width: 0px;
    }
}



/*--------------Hover over Description-----------------*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;  
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(9, 115, 186);
    color: rgb(94, 176, 238);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/*--------------------End of Hover over----------------*/

.parag{
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    font-size: 1.3em
}

.sub{
    text-align: center;
    color: rgb(5, 50, 103);
}
IMG.img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.link{
    display:block;
    text-decoration:none;
}
.table{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

iframe{ 
    align-content: center;
    margin-left: 30em
}
