

body {
    /* The image used */
    background-color: rgb(1, 9, 17);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
    text-align: center;
    font-style: italic

}
h2{
    color: white;
    text-align: center;
    font-style: italic

}

thead{
    text-align: center;
}
.side-bar-img {
    float: left;
    max-width: 45%;
    max-height: 5%;
    margin: 5px;
}
#nav-title {
    background-color: black;
    color: rgb(217, 228, 237);
    margin-left: 50px;
}
.main-viz {
    padding-bottom: 20px;
    margin: auto;
    
}
.main-content {
    padding: 30px;
    padding-top: 0px;
}
.navbar-toggle {
    background-color: #212188; 
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(94, 176, 238);
}

@media only screen and (max-width: 992px) {
    .side-bar-img {
        width: 23%;
    }
    
    #bottom-comp {
        border-bottom-width: 0px;
    }
}





.parag{
    color: bisque;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    font-size: 1.4em
    display: inline-block;
    
}

.sub{
    text-align: center;
    color: rgb(2, 10, 19);
}
IMG.img{
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.link{
    display:block;
    text-decoration:none;
}
table {
    table-layout: fixed;
}

.tail{
    text-align: center;
    font-size: 2.1em
}
tr{
    border: darksalmon;
}

/*--------------- Size Control ----------------*/
@media only screen and (max-width: 992px) {
    .side-bar-img {
        width: 23%;
    }
    .comparison {
        border-bottom: 1px solid #0dd8ee;
        padding-bottom: 20px;
    }
    #bottom-comp {
        border-bottom-width: 0px;
    }
}

@media only screen and (max-width: 600px) {
    #landing-img {
        max-width: 100%;
    }
    .side-bar-img {
        float: left;
        max-height: 45%;
        max-width: 45%;
        margin: 2px;
    }
}

.panel-info>.panel-heading {
    color: white;
    background-color: black;
    border-color: white;
}
.row {
    margin-right: -11px;
    margin-left: -11px;
}

